/*
	Requires a previous reset!
        Some animations are based on the impress.js example css
        Grab whatever you need from here!
*/

/* element definition */
body {
  font-family: 'Open Sans', sans-serif;
	min-height: 740px;
	font-size: 30px;
	line-height: 1.62em;

	background: rgb(215, 215, 215);
	background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
	background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
	background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
	background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
	background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));

	color: #666;
}

b, strong { font-weight: bold }

i, em { font-style: italic }

em {
        color: #595151;
}

small {
	font-size: 85%;
	font-weight: lighter;
}

h1,h2,h3,h4,h5,h6 {
	margin-bottom: 18px;
	font-family: "Oswald",sans-serif;
	font-weight: 300;
	line-height: 1.62em;
	letter-spacing: 1px;
}
h1 {
	font-size: 80px;
}
h2 {
	font-size: 70px;
}
h3 {
	font-size: 50px;
}
h4 {
	font-size: 35px;
}
h5 {
	font-size: 30px;
}
h6 {
	font-size: 27px;
}
p {
	margin-bottom: 24px;
}

blockquote {
	position: relative;
	color: #444;
	font-family: Georgia,"URW Bookman L",serif;
	font-style: italic;
	margin: 60px 30px 0 60px;
}

blockquote:before {
	position: absolute;
	top: -30px;
	left: -75px;
	content: "\201C";
	font-family: serif;
	font-size: 300%;
}

blockquote cite {
	font-style: normal;
}

blockquote cite:before {
	content: "\2014";
	padding-right: 8px;
}
table {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
	margin-bottom: 24px;
        font-size: 75%;
}
table th,table td {
	padding: 6px 1px 0px 1px;
}
table th {
	font-weight: bold;
}
fieldset {
	border: #EEE 1px solid;
	padding: 2%;
}
textarea {
	font-size: 35px;
}

hr {
	border: none;
	border-top: #EEE 1px solid;
}
dt {
	font-weight: 600;
	margin-bottom: 24px;
}
dd {
	margin-left: 30px;
	margin-bottom: 24px;
}
ul {
	list-style-type: disc;
	margin-left: 60px;
	margin-bottom: 24px;
        left: 10px;
}
ul li {
	margin-top: 7px;
}
ul ul {
	list-style-type: square;
	margin-bottom: 0;
}
ul ul ul {
	list-style-type: circle;
}
ol {
	list-style-type: decimal;
	margin-left: 70px;
	margin-bottom: 24px;
}
ol ol {
	list-style: upper-alpha;
	margin-bottom: 0
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
address {
	font-size: 35px;
	font-style: italic;
	margin-bottom: 16px;
}

code {
	padding: 1px 4px;
	background: #F8F8F8;
	background: -moz-linear-gradient(#F8F8F8,#F3F3F3);
	background: -webkit-linear-gradient(#F9F9F9,#F3F3F3);
	background: -o-linear-gradient(#F8F8F8,#F3F3F3);
	background: linear-gradient(#F8F8F8,#F3F3F3);
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0,0,0,.2);
	font-family: Monaco,Consolas,"Lucida Console","Bitstream Vera Sans Mono",monospace;
	font-size: 35px;
}

kbd,tt {
	font-family: monospace;
}

abbr,acronym {
	border-bottom: #999 1px dotted;
	cursor: help;
}

cite,em {
	font-style: italic;
}

pre {
	padding: 15px;
	background: #F8F8F8;
	border: #E3E3E3 1px dashed;
	color: #000;
	font-family: Monaco,Consolas,"Lucida Console","Bitstream Vera Sans Mono",monospace;
	font-size: 45px;
	line-height: 1.62em;
	margin-bottom: 24px;
	overflow: auto;
}

q {
	quotes: inherit;
        font-size: 110%;
        padding: 20px;
        margin: 10px;
}

q:before {
	content: open-quote;
}

q:after {
	content: close-quote;
}

sup,sub {
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	position: relative;
	font-size: 20px;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

img,video {
	max-width: 100%;
	height: auto;
}

figure img {
	display: block;
	margin: 0 auto;
}

video {
	display: block;
}

audio {
	max-width: 100%;
}

/**/

/* classes for elements */

.white-row tr:nth-child(even) {
	background: #F8F8F8;
}

.footnote {
        font-size: 26px;
        text-align: right;
        font-style: oblique;
        margin: 20px;
}

.link-shadow {
        color: inherit;
        text-decoration: none;
        padding: 0 0.1em;
        background: rgba(255,255,255,0.5);
        text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
        border-radius: 0.2em;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
}

.link-shadow:hover, .link-shadow:focus {
        background: rgba(255,255,255,1);
        text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}

.link {
        color: #21759b;
        text-decoration: none;
        -moz-transition: color .25s ease,margin .25s ease;
        -webkit-transition: color .25s ease,margin .25s ease;
        -o-transition: color .25s ease,margin .25s ease;
        transition: color .25s ease,margin .25s ease;
}
.link:hover {
	color: #d54e21;
}

.overlay-img-txt {
        position: relative;
}

.overlay-img-txt img {
        top: 0;
        left: 0;
}

.overlay-img-txt span {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0.5em;
        font-weight: bold;
        width: 100%;
}

.overlay-img-txt .bottom {
        bottom: 0;
        top: auto;
        margin-bottom: 20px;
}

.align-left {
  float: left;
  margin: 5px;
}

.align-right {
  float: right;
  margin: 5px;
}

.txt-big {
        font-size: 120%;
}

.txt-verybig {
        font-size: 150%;
}

.txt-reduced {
        font-size: 80%;
}

.txt-tiny {
        font-size: 50%;
}

.centered {
        text-align: center;
}

.right {
        text-align: right;
}

.threat {
        font-family: "Anonymous Pro";
        font-size: 80%;
}

.facepalm {
  position: absolute;
  top: 10px;
  left: 350px;
}

/* colours */
.flag-blue {
        color: #75AADB;
}

.pale-yellow {
        color: rgb(251, 252, 194);
}

.pastel-red {
        color: rgba(176, 39, 39, 0.69);
}

.soft-green {
        color: rgba(127, 203, 130, 0.91);
}

.medium-orange {
        color: rgba(219, 170, 96, 0.95);
}

.critical-purple {
        color: rgba(158, 39, 176, 0.7);
}
/**/
/**/

/* selectors */
#title {
        padding: 0;
        display: block;
        text-align: center;
}

#overview { display: none }
/**/

/* classes for wrappers */

/* slide classes */

.sbseg-intro {
  background-image: url("../img/HQ-FHL-20001-15.jpg");
  background-position: bottom;
}

.sbseg-intro .content {
  color: rgba(255, 255, 255, 0.85);
}

.sbseg-intro .content h1 {
  padding: 30px;
}

.sbseg-intro .content a {
  color: rgba(101, 197, 112, 0.92);
}

.sbseg-intro .content .link:hover {
  color: #d54e21;
}

.step {
        position: relative;
        width: 1000px;
        padding: 40px;
        margin: 20px auto;

        -webkit-box-sizing: border-box;
        -moz-box-sizing:    border-box;
        -o-box-sizing:      border-box;
        box-sizing:         border-box;

        font-family: 'Open Sans', sans-serif;
        font-size: 38px;
        line-height: 1.5em;
}

.slide {
        display: block;

        height: 700px;
        padding: 30px 50px;

        background-color: white;
        border: 1px solid rgba(0, 0, 0, .3);
        border-radius: 10px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

        color: rgb(102, 102, 102);
        text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

        font-family: 'Open Sans', sans-serif;
        font-size: 30px;
        line-height: 1.2em;
        letter-spacing: -1px;
}

.slide q {
        display: block;
        font-size: 40px;
        line-height: 62px;

        margin-top: 90px;
}

.slide q strong {
        white-space: nowrap;
}

.anim b {
        display: inline-block;
        -webkit-transition: 0.5s;
        -moz-transition:    0.5s;
        -o-transition:      0.5s;
        transition:         0.5s;
}

.anim i {
        display: inline-block;
        -webkit-transition: 0.5s;
        -moz-transition:    0.5s;
        -o-transition:      0.5s;
        transition:         0.5s;
}

.anim li {
        -webkit-transition: 0.5s;
        -moz-transition:    0.5s;
        -o-transition:      0.5s;
        transition:         0.5s;
}

.anim.present .positioning {
        -webkit-transform: translateY(-10px);
        -moz-transform:    translateY(-10px);
        -o-transform:      translateY(-10px);
        transform:         translateY(-10px);
}

.anim.present .rotating {
        -webkit-transform: rotate(-10deg);
        -moz-transform:    rotate(-10deg);
        -o-transform:      rotate(-10deg);
        transform:         rotate(-10deg);

        -webkit-transition-delay: 0.25s;
        -moz-transition-delay:    0.25s;
        -o-transition-delay:      0.25s;
        transition-delay:         0.25s;
}

.anim.present .scaling {
        -webkit-transform: scale(1.1);
        -moz-transform:    scale(1.1);
        -o-transform:      scale(1.1);
        transform:         scale(1.1);

        -webkit-transition-delay: 0.5s;
        -moz-transition-delay:    0.5s;
        -o-transition-delay:      0.5s;
        transition-delay:         0.5s;

        margin: 1px;
}

.anim.present .scaling-right {
        -webkit-transform: scale(1.1) translateX(50px);
        -moz-transform:    scale(1.1) translateX(50px);
        -o-transform:      scale(1.1) translateX(50px);
        transform:         scale(1.1) translateX(50px);

        -webkit-transition-delay: 0.5s;
        -moz-transition-delay:    0.5s;
        -o-transition-delay:      0.5s;
        transition-delay:         0.5s;

        margin: 1px;
}

/**/

.fallback-message {
        font-family: 'Open Sans', sans-serif;
        line-height: 1.3em;

        width: 780px;
        padding: 10px 10px 0;
        margin: 20px auto;

        border: 1px solid #E4C652;
        border-radius: 10px;
        background: #EEDC94;
}

.fallback-message p {
        margin-bottom: 10px;
}


.hint {
        display: none;

        position: fixed;
        left: 0;
        right: 0;
        bottom: 200px;

        background: rgba(0,0,0,0.5);
        color: #EEE;
        text-align: center;

        font-size: 50px;
        padding: 20px;

        z-index: 100;

        opacity: 0;

        -webkit-transform: translateY(400px);
        -moz-transform:    translateY(400px);
        -o-transform:      translateY(400px);
        transform:         translateY(400px);

        -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
        -moz-transition:    opacity 1s,    -moz-transform 0.5s 1s;
        -o-transition:      opacity 1s,      -o-transform 0.5s 1s;
        transition:         opacity 1s,         transform 0.5s 1s;
}


.impress-supported .fallback-message {
        display: none;
}

.impress-enabled .step {
        margin: 0;
        opacity: 0.3;

        -webkit-transition: opacity 1s;
        -moz-transition:    opacity 1s;
        -o-transition:      opacity 1s;
        transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }

.impress-on-overview .step {
        opacity: 1;
        cursor: pointer;
}

.impress-enabled .hidden {
        margin: 0;
        opacity: 0;

        -webkit-transition: opacity 1s;
        -moz-transition:    opacity 1s;
        -o-transition:      opacity 1s;
        transition:         opacity 1s;
}

.impress-enabled .hidden.active { opacity: 1 }

.impress-on-overview .hidden {
        opacity: 1;
        cursor: pointer;
}


.impress-enabled .hint { display: block }

.impress-on-start .hint {
        opacity: 1;

        -webkit-transform: translateY(0px);
        -moz-transform:    translateY(0px);
        -o-transform:      translateY(0px);
        transform:         translateY(0px);

        -webkit-transition: opacity 1s 5s, -webkit-transform 0.5s 4.5s;
        -moz-transition:    opacity 1s 5s,    -moz-transform 0.5s 4.5s;
        -o-transition:      opacity 1s 5s,      -o-transform 0.5s 4.5s;
        transition:         opacity 1s 5s,         transform 0.5s 4.5s;
}

.impress-enabled          { pointer-events: none }

.impress-enabled #impress { pointer-events: auto }

/**/
